/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  font-family: "open_sansregular";
  font-size: "normal";
  background-color: #f6f6f6;
  line-height: 20px;
}

p {
  line-height: 20px
}

textarea, select, 
input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], 
input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], 
input[type="time"], input[type="url"], input[type="week"] {
  -webkit-appearance: none;
  -moz-border-  : 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #DBDBDB;
  color: #000;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  padding: 16px;
}

label {
  color: #272822;
  margin-bottom: 20px;
}

form {
  margin-top: 5px;
  .form-submit {
    background-image: none;
    background-color: #FF5757;
    color: #fff;
    border: none;
    border-color: transparent;
    border-radius: 0;
    text-shadow: none;
    font-size: 10px;
    font-family: "open_sansregular";
    text-transform: uppercase;
  }
  .form-submit:hover {
    background-color: #9cb6b9;
  }
}

.zone-content {
  #breadcrumb {
    display: none;
  }
}

.img_filter_grey {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: #000000;
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
}

.img_filter_white {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: #ffffff;
  filter: opacity(40%);
  -webkit-filter: opacity(40%);
}

.zone-fullmenu-wrapper {
  background-color: #272727;
  color: #a29d9d;
  padding: 15px 0;
  font-family: "open_sansregular";
  font-size: 13px;
  a {
    color: #a29d9d;
  }
  .menu {
    li {
      list-style: none;
    }
  }
  .block-commerce-product-comparison {
    .num-compare {
      color: #e74c3c;
    }
    .delete-from-comparison {
      float: left;
      margin-right: 10px;
    }
    .content {
      display: none;
    }
    h2 {
      cursor: pointer;
    }
  }
}

.zone-menu-wrapper {
  margin: 41px 0;
  .zone-menu {
    .block-nice-menus {
      ul.nice-menu-down {
        margin-left: 88px;
        margin-top: 6px;
        li {
          border: none;
          background-color: transparent;
          a {
            color: #999;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
            font-family: "ubunturegular";
          }
          a:hover, a:focus, a:active, a.active {
            color: #e74c3c;
            text-decoration: none;
          }
        }
        li.even {
          margin: 0 40px;
          ul {
            background-color: #fff;
            border: 0;
            border-top: 9px solid #222;
            left: -100%;
            margin-top: 25px;
            li {
              a {
                color: #666;
                font-family: "open_sansregular";
                font-size: "13px";
                text-transform: lowercase;
                padding: 15px;
              }
              a:first-letter {
                text-transform: uppercase;
              }
              a:hover, a:focus, a:active, a.active {
                background-color: #ff5757;
                color: #fff;
              }
            }
            li.even {
              margin: 0;
            }
          }
          ul:before {
            content: "";
            position: absolute;
            top: -17px;
            right: 10%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent #222 transparent;
          }
        }
      }
    }
    .block-search-product {
      form {
        input#edit-search-api-views-fulltext {
          background-image: url("../library/images/search.png");
          background-position: 95% center;
          background-repeat: no-repeat;
          width: 100%;
          border: none;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
        }
        .views-submit-button {
          display: none;
        }
      }
    }
  }
}

.views-exposed-form .views-exposed-widget {
  padding: 0;
}

.banner-lineas {
  margin-bottom: 8px;
  .views-field-name {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    .field-content {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      a {
        color: #f8f8f8;
        text-decoration: none;
        display: block;
        padding-top: 32%;
        height: 58%;
        .linea {
          color: #f8f8f8;
          font-family: "segoepr";
          font-size: 30px;
          text-transform: capitalize;
          margin-bottom: 20px;
        }
        .linea::after {
          background-color: #f8f8f8;
          content: '';
          display: block;
          height: 2px;
          position: absolute;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          background-color: transparent;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          left: 50%;
          width: 40%;
          margin-top: 8px;
        }
      }
    }
    .field-content.color_display {
      a {
        color: #f8f8f8;
        .linea::after {
          background-color: #f8f8f8;
        }
      }
    }
  }
  .views-field-field-image {
    z-index: 1;
    display: block;
  }
}

ul.quicktabs-tabs {
  margin-top: 20px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
  li.active, li:hover, li:focus, li:active {
    border-bottom: 1px solid #000;
    a:active, a:focus, a:hover, a.active {
      color: #000;
    }
  }
  li {
    padding: 2px 5px 7px;
    a {
      color: #a7a7a7;
      font-family: "open_sansregular";
      font-size: 13px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

#quicktabs-container-tabs_del_home {
  table {
    border: none;
    td {
      border: 1px solid #e5e5e5;
      background-color: #f8f8f8;
      .field-name-title-field {
        margin-top: 5px;
        a {
          color: #666;
          text-decoration: none;
          font-size: 13px;
          font-family: "open_sansregular";
        }
      }
      .field-name-field-color {
        display: none;
      }
      form {
        position: absolute;
        overflow: hidden;
        margin-top: 5px;
        .form-submit {
          float: right;
        }
      }
    }
  }
}

.block-promociones-home-block {
  margin-top: 47px;
  margin-bottom: 42px;
}

footer.section-footer {
  background-color: #222;
  margin-top: 40px;
  padding-top: 45px;
  padding-bottom: 76px;
  .block-menu, .block-simplenews {
    h2 {
      font-family: "ubunturegular";
      font-size: 14px;
      text-transform: uppercase;
      color: white;
      margin-bottom: 32px;
    }
    ul.menu {
      list-style: none;
      li {
        list-style: none;
        a {
          font-family: "open_sansregular";
          font-size: 12px;
          color: #ccc;
          text-decoration: none;
        }
      }
    }
  }
  .block-simplenews {
    p {
      font-family: "open_sansregular";
      font-size: 12px;
      color: #ccc;
      text-decoration: none;
    }
    form {
      label {
        display: none;
      }
      .form-text {
        float: left;
        width: 70%;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
      }
      .form-submit {
        float: right;
        color: transparent;
        width: 25%;
        height: 34px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #e74c3c;
        background-image: url("images/submit.png");
        background-position: center;
        background-repeat: no-repeat;
      }
      .form-submit:before {
        content: ">";
        display: block;
        height: 1px;
        position: absolute;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #000;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        left: 30%;
        width: 40%;
        margin-top: 15px;
      }
    }
  }
  .region-footer-six {
    float: right;
    p {
      font-size: "12px";
      font-family: "open_sansregular";
      color: #666;
      text-align: right;
      a {
        color: #999;
        text-decoration: none;
      }
    }
    .facebook, .twitter {
      margin-top: 9px;
      float: right;
      display: inline-block;
      width: 16px;
      height: 16px;
      color: transparent;
      background-position: center;
      margin-left: 8px;
    }
    .facebook {
      background-image: url("images/facebook.png");
    }
    .twitter {
      background-image: url("images/twitter.png");
    }
  }
}

.all-products, .all-products-home {
  .views-row {
    border: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    display: inline-flex;
    height: 320px;
    padding: 12px;
    .field-name-title-field {
      position: relative;
      top: -267px;
      a {
        color: #666;
        text-decoration: none;
        font-size: 13px;
        font-family: "open_sansregular";
      }
    }
    .field-name-field-color {
      display: none;
    }
    form {
      position: relative;
      top: -287px;
      padding-left: 29px;
      padding-top: 200px;
      width: 206px;
      height: 82px;
      margin-bottom: 0;
      .form-submit {
        display: none;
        padding: 20px;
        font-size: 13px;
        width: 177px;
        height: 55px;
        text-align: center;
        background-image: none;
        background-color: #FF5757;
        color: #fff;
        border: none;
        border-color: transparent;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        text-shadow: none;
        font-size: 10px;
        font-family: "open_sansregular";
        text-transform: uppercase;
      }
    }
  }
}

.all-products {
  .views-row:nth-child(2), .views-row:nth-child(5), .views-row:nth-child(8) {
    margin: 0 44px;
  }
  .views-row:nth-child(4), .views-row:nth-child(5), .views-row:nth-child(6) {
    margin-top: 56px;
    margin-bottom: 56px;
  }
}

.all-products-home {
  .views-row:nth-child(2), .views-row:nth-child(6) {
    margin: 0 41px;
  }
  .views-row:nth-child(3), .views-row:nth-child(7) {
    margin-right: 41px;
  }
  .views-row:nth-child(5), .views-row:nth-child(6), .views-row:nth-child(7), .views-row:nth-child(8) {
    margin-top: 56px;
  }
}

.text-reduce-search, .text-reduce-search2 {
  h2 {
    font-family: "ubunturegular";
    font-size: 15px;
    color: #666;
    padding-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
  }
  h2:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: 30%;
    width: 40%;
    margin-top: 15px;
  }
}

.text-reduce-search {
  div.content {
    display: none;
  }
}

.block-facetapi {
  border-bottom: 1px solid #dddddd;
  ul {
    li {
      list-style: none;
      margin-left: 0;
      a {
        text-decoration: none;
        color: #666;
        font-family: "open_sansregular";
        font-size: 13px;
      }
    }
  }
  h2 {
    margin-top: 20px;
    font-family: "open_sansregular";
    font-size: 15px;
    color: #ff5757;
    font-weight: normal;
    padding-bottom: 20px;
  }
}

.node-product-type-full {
  .group-header {
    padding-bottom: 8px;
    a {
      font-family: "ubunturegular";
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      color: #666;
    }
    a:after {
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #000;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      left: 8%;
      width: 10%;
      margin-top: 8px;
    }
  }
  .group-left, .group-right {
    background-color: #f8f8f8;
    padding: 5px;
    width: calc(50% - 11px);
    border: 1px solid #e5e5e5;
    height: 692px;
    margin-bottom: 20px;
    display: inline-block;
  }
  .group-left {
    border-right: none;
  }
  .group-right {
    border-left: none;
    color: #999;
    font-family: "open_sansregular";
    font-size: 13px;
    .field {
      margin-bottom: 10px;
      border-bottom: 1px solid #e0e0e0;
      padding: 0 0 20px;
    }
    .commerce-product-field-field-vote {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.zone-breadcrumb-wrapper {
  background-color: #e9e9e9;
  padding: 20px 0;
  margin-bottom: 10px;
  color: #fb5757;
  font-size: 13px;
  font-family: "open_sansregular";
  a {
    color: #c5bcbc;
    text-decoration: none;
  }
}

.field-name-field-servicios {
  .field {
    border-bottom: none !important;
  }
  .field-label {
    margin-bottom: 10px;
  }
  .field-items {
    overflow: hidden;
    .field-item {
      float: left;
      .field-name-field-apocope {
        padding-bottom: 0;
        .field-items {
          width: auto;
          margin-right: 5px;
          .field-item {
            a {
              width: 30px;
              height: 12px;
              display: block;
              text-align: center;
              background-color: #ff787f;
              color: white;
              -moz-border-radius: 100%;
              -webkit-border-radius: 100%;
              border-radius: 100%;
              padding: 14px 5px;
              font-family: "open_sansregular";
              font-size: 13px;
              text-decoration: none;
              text-transform: uppercase;
            }
            a:hover, a:focus, a:active, a.active {
              background-color: #9cb6b9;
            }
            a:hover + div.field-name-title {
              display: inline-block;
            }
          }
        }
      }
      .field-name-title {
        display: none;
        background-color: #ff5757;
        color: white;
        padding: 3px;
        font-family: "open_sansregular";
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
}

.commerce-product-field-commerce-price {
  .field-items {
    margin-left: 50px;
    font-size: 24px;
    font-family: "open_sanssemibold";
    color: #ff5757;
  }
}

.field-name-field-linea {
  .field-label {
    margin-bottom: 10px;
  }
  .field-items {
    .field-item {
      .field {
        padding-bottom: 0;
        border-bottom: none !important;
        a {
          color: #ff5757;
          text-decoration: none;
          font-weight: normal;
          font-family: "open_sansregular";
          font-size: 13px;
        }
      }
    }
  }
}

.form-type-commerce-fancy-attributes-ajax {
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
  .form-item {
    float: left;
    .description {
      .field {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}

.form-type-select {
  label {
    float: left;
  }
  select {
    margin-left: 68px;
  }
}
.front #first-time {
  display: none;
}

.region-content {
  h1 {
    padding-bottom: 15px;
    margin-bottom: 8px;
    font-family: "ubunturegular";
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #666;
    border-bottom: 1px solid #dddddd;
  }
  h1:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: 8%;
    width: 10%;
    margin-top: 15px;
  }
  .node-page {
    font-family: "open_sansregular";
    font-size: 14px;
    color: #999999;
    text-align: justify;
    margin-bottom: 47px;
  }
}

.block-bloque-lineas-block {
  padding: 21px 0;
  ul {
    li {
      margin: 0 0 20px 0;
      a {
        text-decoration: none;
        color: #666;
        font-family: "open_sansregular";
        font-size: 13px;
      }
    }
  }
}

.text-block-sidebar-first {
  text-decoration: none;
  color: #666;
  font-family: "open_sansregular";
  font-size: 13px;
  margin: 20px 0;
  a {
    color: #fb5757;
    text-decoration: none;
  }
}

.node-webform {
  min-height: 340px;
  footer {
    display: none;
  }
  form {
    .webform-component-email, .webform-component-textfield {
      float: left;
      width: calc(50% - 2px);
      input[type="text"] {
        width: 100%;
      }
    }
    .webform-component-email {
      margin-left: 4px;
    }
    .form-actions {
      clear: both;
      text-align: right;
      input[type="submit"] {
        font-size: "14px";
        padding: 10px 20px;
      }
    }
    .form-textarea-wrapper textarea {
      height: 200px;
    }
  }
}

#properties-compare-table {
  thead {
    tr {
      th {
        text-align: center;
        padding: 20px;
      }
    }
  }
  tbody {
    tr{
      td {
        background-color: #f6f6f6;
        font-family: "open_sansregular";
        font-size: "13px";
        color: #666;
        border: 1px solid #DDDDDD;
        border-collapse: collapse;
        text-align: center;
        padding: 20px;
        form {
          .form-submit {
            font-size: "13px";
            padding: 18px 22px;
          }
        }
      }
      td:nth-child(1) {
        background-color: #E9E9E9;
      }
    }
  }
}


.menu-no-title {
  margin-top: 45px;
}