/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  font-family: "open_sansregular";
  font-size: "normal"
}

.region-user-full {
  background-color: #272727;
  color: #a29d9d;
  a {
    color: #a29d9d;
  }
  .menu {
    li {
      list-style: none;
    }
  }
}

.zone-menu {
  .block-blockify-blockify-logo {
    float: left;
  }
}
