/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* line 4, ../scss/global.scss */
body {
  font-family: "open_sansregular";
  font-size: "normal";
  background-color: #f6f6f6;
}

/* line 10, ../scss/global.scss */
textarea, select,
input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"],
input[type="time"], input[type="url"], input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #DBDBDB;
  color: #000;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  padding: 16px;
}

/* line 36, ../scss/global.scss */
label {
  color: #272822;
  margin-bottom: 20px;
}

/* line 41, ../scss/global.scss */
form {
  margin-top: 5px;
}
/* line 43, ../scss/global.scss */
form .form-submit {
  background-image: none;
  background-color: #FF5757;
  color: #fff;
  border: none;
  border-color: transparent;
  border-radius: 0;
  text-shadow: none;
  font-size: 10px;
  font-family: "open_sansregular";
  text-transform: uppercase;
}
/* line 55, ../scss/global.scss */
form .form-submit:hover {
  background-color: #9cb6b9;
}

/* line 61, ../scss/global.scss */
.zone-content #breadcrumb {
  display: none;
}

/* line 66, ../scss/global.scss */
.img_filter_grey {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: #000000;
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
}

/* line 73, ../scss/global.scss */
.zone-fullmenu-wrapper {
  background-color: #272727;
  color: #a29d9d;
  padding: 15px 0;
  font-family: "open_sansregular";
  font-size: 13px;
}
/* line 79, ../scss/global.scss */
.zone-fullmenu-wrapper a {
  color: #a29d9d;
}
/* line 83, ../scss/global.scss */
.zone-fullmenu-wrapper .menu li {
  list-style: none;
}
/* line 88, ../scss/global.scss */
.zone-fullmenu-wrapper .block-commerce-product-comparison .num-compare {
  color: #e74c3c;
}

/* line 94, ../scss/global.scss */
.zone-menu-wrapper {
  margin: 41px 0;
}
/* line 98, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down {
  margin-left: 88px;
  margin-top: 6px;
}
/* line 101, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li {
  border: none;
  background-color: transparent;
}
/* line 104, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a {
  color: #989898;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "ubunturegular";
}
/* line 111, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a:hover, .zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a:focus, .zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a:active, .zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a.active {
  color: #d16055;
  text-decoration: none;
}
/* line 116, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even {
  margin: 0 40px;
}
/* line 123, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-search-product form input#edit-search-api-views-fulltext {
  background-image: url("../library/images/search.png");
  background-position: 98% center;
  background-repeat: no-repeat;
  width: 100%;
  border: none;
  border-radius: 3px;
}
/* line 131, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-search-product form .views-submit-button {
  display: none;
}

/* line 139, ../scss/global.scss */
.views-exposed-form .views-exposed-widget {
  padding: 0;
}

/* line 143, ../scss/global.scss */
.banner-lineas {
  margin-bottom: 8px;
}
/* line 145, ../scss/global.scss */
.banner-lineas .views-field-name {
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 153, ../scss/global.scss */
.banner-lineas .views-field-name .field-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
/* line 158, ../scss/global.scss */
.banner-lineas .views-field-name .field-content a {
  color: #f8f8f8;
  text-decoration: none;
  display: block;
  padding-top: 32%;
  height: 58%;
}
/* line 164, ../scss/global.scss */
.banner-lineas .views-field-name .field-content a .linea {
  color: #f8f8f8;
  font-family: "segoepr";
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
/* line 171, ../scss/global.scss */
.banner-lineas .views-field-name .field-content a .linea::after {
  background-color: #f8f8f8;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 50%;
  width: 40%;
  margin-top: 8px;
}
/* line 190, ../scss/global.scss */
.banner-lineas .views-field-name .field-content a {
  color: #f8f8f8;
}
/* line 192, ../scss/global.scss */
.banner-lineas .views-field-name .field-content a .linea::after {
  background-color: #f8f8f8;
}
/* line 198, ../scss/global.scss */
.banner-lineas .views-field-field-image {
  z-index: 1;
  display: block;
}

/* line 204, ../scss/global.scss */
ul.quicktabs-tabs {
  margin-top: 20px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
}
/* line 208, ../scss/global.scss */
ul.quicktabs-tabs li.active, ul.quicktabs-tabs li:hover, ul.quicktabs-tabs li:focus, ul.quicktabs-tabs li:active {
  border-bottom: 1px solid #000;
}
/* line 210, ../scss/global.scss */
ul.quicktabs-tabs li.active a:active, ul.quicktabs-tabs li.active a:focus, ul.quicktabs-tabs li.active a:hover, ul.quicktabs-tabs li.active a.active, ul.quicktabs-tabs li:hover a:active, ul.quicktabs-tabs li:hover a:focus, ul.quicktabs-tabs li:hover a:hover, ul.quicktabs-tabs li:hover a.active, ul.quicktabs-tabs li:focus a:active, ul.quicktabs-tabs li:focus a:focus, ul.quicktabs-tabs li:focus a:hover, ul.quicktabs-tabs li:focus a.active, ul.quicktabs-tabs li:active a:active, ul.quicktabs-tabs li:active a:focus, ul.quicktabs-tabs li:active a:hover, ul.quicktabs-tabs li:active a.active {
  color: #000;
}
/* line 214, ../scss/global.scss */
ul.quicktabs-tabs li {
  padding: 2px 5px 7px;
}
/* line 216, ../scss/global.scss */
ul.quicktabs-tabs li a {
  color: #a7a7a7;
  font-family: "open_sansregular";
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 227, ../scss/global.scss */
#quicktabs-container-tabs_del_home table {
  border: none;
}
/* line 229, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td {
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;
}
/* line 232, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td .field-name-title-field {
  margin-top: 5px;
}
/* line 234, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td .field-name-title-field a {
  color: #666;
  text-decoration: none;
  font-size: 13px;
  font-family: "open_sansregular";
}
/* line 241, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td .field-name-field-color {
  display: none;
}
/* line 244, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td form {
  position: absolute;
  overflow: hidden;
  margin-top: 5px;
}
/* line 248, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td form .form-submit {
  float: right;
}

/* line 256, ../scss/global.scss */
.block-promociones-home-block {
  margin-top: 47px;
  margin-bottom: 42px;
}

/* line 261, ../scss/global.scss */
footer.section-footer {
  background-color: #222;
  margin-top: 40px;
  padding-top: 45px;
  padding-bottom: 76px;
}
/* line 267, ../scss/global.scss */
footer.section-footer .block-menu h2 {
  font-family: "ubunturegular";
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 32px;
}
/* line 274, ../scss/global.scss */
footer.section-footer .block-menu ul.menu {
  list-style: none;
}
/* line 276, ../scss/global.scss */
footer.section-footer .block-menu ul.menu li {
  list-style: none;
}
/* line 278, ../scss/global.scss */
footer.section-footer .block-menu ul.menu li a {
  font-family: "open_sansregular";
  font-size: 12px;
  color: #ccc;
  text-decoration: none;
}

/* line 290, ../scss/global.scss */
.all-products .views-row, .all-products-home .views-row {
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  display: inline-flex;
  height: 320px;
  padding: 12px;
}
/* line 296, ../scss/global.scss */
.all-products .views-row .field-name-title-field, .all-products-home .views-row .field-name-title-field {
  margin-top: 14px;
}
/* line 298, ../scss/global.scss */
.all-products .views-row .field-name-title-field a, .all-products-home .views-row .field-name-title-field a {
  color: #666;
  text-decoration: none;
  font-size: 13px;
  font-family: "open_sansregular";
}
/* line 305, ../scss/global.scss */
.all-products .views-row .field-name-field-color, .all-products-home .views-row .field-name-field-color {
  display: none;
}
/* line 308, ../scss/global.scss */
.all-products .views-row form, .all-products-home .views-row form {
  margin-top: 14px;
}
/* line 310, ../scss/global.scss */
.all-products .views-row form .form-submit, .all-products-home .views-row form .form-submit {
  background-image: none;
  background-color: #FF5757;
  color: #fff;
  border: none;
  border-color: transparent;
  border-radius: 0;
  text-shadow: none;
  font-size: 10px;
  font-family: "open_sansregular";
  text-transform: uppercase;
  float: right;
}

/* line 328, ../scss/global.scss */
.all-products .views-row:nth-child(2), .all-products .views-row:nth-child(5), .all-products .views-row:nth-child(8) {
  margin: 0 44px;
}
/* line 331, ../scss/global.scss */
.all-products .views-row:nth-child(4), .all-products .views-row:nth-child(5), .all-products .views-row:nth-child(6) {
  margin-top: 56px;
  margin-bottom: 56px;
}

/* line 338, ../scss/global.scss */
.all-products-home .views-row:nth-child(2), .all-products-home .views-row:nth-child(6) {
  margin: 0 41px;
}
/* line 341, ../scss/global.scss */
.all-products-home .views-row:nth-child(3), .all-products-home .views-row:nth-child(7) {
  margin-right: 41px;
}
/* line 344, ../scss/global.scss */
.all-products-home .views-row:nth-child(5), .all-products-home .views-row:nth-child(6), .all-products-home .views-row:nth-child(7), .all-products-home .views-row:nth-child(8) {
  margin-top: 56px;
}

/* line 350, ../scss/global.scss */
.text-reduce-search h2 {
  font-family: "ubunturegular";
  font-size: 15px;
  color: #666;
  padding-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
/* line 359, ../scss/global.scss */
.text-reduce-search h2:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 30%;
  width: 40%;
  margin-top: 15px;
}
/* line 374, ../scss/global.scss */
.text-reduce-search div.content {
  display: none;
}

/* line 379, ../scss/global.scss */
.block-facetapi {
  border-bottom: 1px solid #dddddd;
}
/* line 382, ../scss/global.scss */
.block-facetapi ul li {
  list-style: none;
  margin-left: 0;
}
/* line 385, ../scss/global.scss */
.block-facetapi ul li a {
  text-decoration: none;
  color: #666;
  font-family: "open_sansregular";
  font-size: 13px;
}
/* line 393, ../scss/global.scss */
.block-facetapi h2 {
  margin-top: 20px;
  font-family: "open_sansregular";
  font-size: 15px;
  color: #ff5757;
  font-weight: normal;
  padding-bottom: 20px;
}

/* line 404, ../scss/global.scss */
.node-product-type-full .group-header {
  padding-bottom: 8px;
}
/* line 406, ../scss/global.scss */
.node-product-type-full .group-header a {
  font-family: "ubunturegular";
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
}
/* line 414, ../scss/global.scss */
.node-product-type-full .group-header a:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 8%;
  width: 10%;
  margin-top: 8px;
}
/* line 430, ../scss/global.scss */
.node-product-type-full .group-left, .node-product-type-full .group-right {
  background-color: #f8f8f8;
  padding: 5px;
  width: calc(50% - 11px);
  border: 1px solid #e5e5e5;
  height: 692px;
  margin-bottom: 20px;
  display: inline-block;
}
/* line 439, ../scss/global.scss */
.node-product-type-full .group-left {
  border-right: none;
}
/* line 442, ../scss/global.scss */
.node-product-type-full .group-right {
  border-left: none;
  color: #999;
  font-family: "open_sansregular";
  font-size: 13px;
}
/* line 447, ../scss/global.scss */
.node-product-type-full .group-right .field {
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 0 20px;
}
/* line 452, ../scss/global.scss */
.node-product-type-full .group-right .commerce-product-field-field-vote {
  border-bottom: none;
  padding-bottom: 0;
}

/* line 459, ../scss/global.scss */
.zone-breadcrumb-wrapper {
  background-color: #e9e9e9;
  padding: 20px 0;
  margin-bottom: 10px;
  color: #fb5757;
  font-size: 13px;
  font-family: "open_sansregular";
}
/* line 466, ../scss/global.scss */
.zone-breadcrumb-wrapper a {
  color: #c5bcbc;
  text-decoration: none;
}

/* line 473, ../scss/global.scss */
.field-name-field-servicios .field {
  border-bottom: none !important;
}
/* line 476, ../scss/global.scss */
.field-name-field-servicios .field-label {
  margin-bottom: 10px;
}
/* line 479, ../scss/global.scss */
.field-name-field-servicios .field-items {
  overflow: hidden;
}
/* line 481, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item {
  float: left;
}
/* line 483, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope {
  padding-bottom: 0;
}
/* line 485, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items {
  width: auto;
  margin-right: 5px;
}
/* line 489, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a {
  width: 30px;
  height: 12px;
  display: block;
  text-align: center;
  background-color: #ff787f;
  color: white;
  border-radius: 100%;
  padding: 14px 5px;
  font-family: "open_sansregular";
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 503, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a:hover, .field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a:focus, .field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a:active, .field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a.active {
  background-color: #9cb6b9;
}
/* line 506, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a:hover + div.field-name-title {
  display: inline-block;
}
/* line 512, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-title {
  display: none;
  background-color: #ff5757;
  color: white;
  padding: 3px;
  font-family: "open_sansregular";
  font-size: 10px;
  font-weight: normal;
}

/* line 526, ../scss/global.scss */
.commerce-product-field-commerce-price .field-items {
  margin-left: 50px;
  font-size: 24px;
  font-family: "open_sanssemibold";
  color: #ff5757;
}

/* line 535, ../scss/global.scss */
.field-name-field-linea .field-label {
  margin-bottom: 10px;
}
/* line 540, ../scss/global.scss */
.field-name-field-linea .field-items .field-item .field {
  padding-bottom: 0;
  border-bottom: none !important;
}
/* line 543, ../scss/global.scss */
.field-name-field-linea .field-items .field-item .field a {
  color: #ff5757;
  text-decoration: none;
  font-weight: normal;
  font-family: "open_sansregular";
  font-size: 13px;
}

/* line 555, ../scss/global.scss */
.form-type-commerce-fancy-attributes-ajax {
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
}
/* line 558, ../scss/global.scss */
.form-type-commerce-fancy-attributes-ajax .form-item {
  float: left;
}
/* line 561, ../scss/global.scss */
.form-type-commerce-fancy-attributes-ajax .form-item .description .field {
  border-bottom: none;
  padding-bottom: 0;
}

/* line 570, ../scss/global.scss */
.form-type-select label {
  float: left;
}
/* line 573, ../scss/global.scss */
.form-type-select select {
  margin-left: 68px;
}

/* line 577, ../scss/global.scss */
.front #first-time {
  display: none;
}

/* line 582, ../scss/global.scss */
.region-content h1 {
  padding-bottom: 15px;
  margin-bottom: 8px;
  font-family: "ubunturegular";
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  border-bottom: 1px solid #dddddd;
}
/* line 593, ../scss/global.scss */
.region-content h1:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 8%;
  width: 10%;
  margin-top: 15px;
}
/* line 608, ../scss/global.scss */
.region-content .node-page {
  font-family: "open_sansregular";
  font-size: 14px;
  color: #999999;
  text-align: justify;
  margin-bottom: 47px;
}

/* line 617, ../scss/global.scss */
.block-bloque-lineas-block {
  padding: 21px 0;
}
/* line 620, ../scss/global.scss */
.block-bloque-lineas-block ul li {
  margin: 0 0 20px 0;
}
/* line 622, ../scss/global.scss */
.block-bloque-lineas-block ul li a {
  text-decoration: none;
  color: #666;
  font-family: "open_sansregular";
  font-size: 13px;
}
