/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* line 4, ../scss/global.scss */
body, a, p, ul, ol, li, img, span, strong, em {
  font-family: "open_sansregular";
  font-size: 1.1em;
  line-height: 150%;
}

/* line 10, ../scss/global.scss */
body {
  background-color: #f6f6f6;
}

/* line 14, ../scss/global.scss */
p {
  line-height: 20px;
}

/* line 18, ../scss/global.scss */
textarea, select,
input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"],
input[type="time"], input[type="url"], input[type="week"] {
  -webkit-appearance: none;
  -moz-border-: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #DBDBDB;
  color: #000;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  padding: 16px;
}

/* line 44, ../scss/global.scss */
label {
  color: #272822;
  margin-bottom: 20px;
}

/* line 49, ../scss/global.scss */
form {
  margin-top: 5px;
}
/* line 51, ../scss/global.scss */
form .form-submit {
  background-image: none;
  background-color: #FF5757;
  color: #fff;
  border: none;
  border-color: transparent;
  border-radius: 0;
  text-shadow: none;
  font-size: 10px;
  font-family: "open_sansregular";
  text-transform: uppercase;
}
/* line 63, ../scss/global.scss */
form .form-submit:hover {
  background-color: #9cb6b9;
}

/* line 69, ../scss/global.scss */
.zone-content #breadcrumb {
  display: none;
}

/* line 74, ../scss/global.scss */
.img_filter_grey {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: #000000;
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
}

/* line 81, ../scss/global.scss */
.img_filter_white {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: #ffffff;
  filter: opacity(40%);
  -webkit-filter: opacity(40%);
}

/* line 88, ../scss/global.scss */
.zone-fullmenu-wrapper {
  background-color: #272727;
  color: #a29d9d;
  padding: 15px 0;
  font-family: "open_sansregular";
  font-size: 13px;
}
/* line 94, ../scss/global.scss */
.zone-fullmenu-wrapper a {
  color: #a29d9d;
}
/* line 98, ../scss/global.scss */
.zone-fullmenu-wrapper .menu li {
  list-style: none;
}
/* line 103, ../scss/global.scss */
.zone-fullmenu-wrapper .block-commerce-product-comparison .num-compare {
  color: #e74c3c;
}
/* line 106, ../scss/global.scss */
.zone-fullmenu-wrapper .block-commerce-product-comparison .delete-from-comparison {
  float: left;
  margin-right: 10px;
}
/* line 110, ../scss/global.scss */
.zone-fullmenu-wrapper .block-commerce-product-comparison .content {
  display: none;
}
/* line 113, ../scss/global.scss */
.zone-fullmenu-wrapper .block-commerce-product-comparison h2 {
  cursor: pointer;
}

/* line 119, ../scss/global.scss */
.zone-menu-wrapper {
  margin: 41px 0;
}
/* line 123, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down {
  margin-left: 88px;
  margin-top: 6px;
}
/* line 126, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li {
  border: none;
  background-color: transparent;
}
/* line 129, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a {
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "ubunturegular";
}
/* line 136, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a:hover, .zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a:focus, .zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a:active, .zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li a.active {
  color: #e74c3c;
  text-decoration: none;
}
/* line 141, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even {
  margin: 0 40px;
}
/* line 143, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even ul {
  background-color: #fff;
  border: 0;
  border-top: 9px solid #222;
  left: -100%;
  margin-top: 25px;
}
/* line 150, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even ul li a {
  color: #666;
  font-family: "open_sansregular";
  font-size: 13px;
  text-transform: lowercase;
  padding: 15px;
}
/* line 157, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even ul li a:first-letter {
  text-transform: uppercase;
}
/* line 160, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even ul li a:hover, .zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even ul li a:focus, .zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even ul li a:active, .zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even ul li a.active {
  background-color: #ff5757;
  color: #fff;
}
/* line 165, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even ul li.even {
  margin: 0;
}
/* line 169, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-nice-menus ul.nice-menu-down li.even ul:before {
  content: "";
  position: absolute;
  top: -17px;
  right: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #222 transparent;
}
/* line 185, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-search-product form input#edit-search-api-views-fulltext {
  background-image: url("../library/images/search.png");
  background-position: 95% center;
  background-repeat: no-repeat;
  width: 100%;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 195, ../scss/global.scss */
.zone-menu-wrapper .zone-menu .block-search-product form .views-submit-button {
  display: none;
}

/* line 203, ../scss/global.scss */
.views-exposed-form .views-exposed-widget {
  padding: 0;
}

/* line 207, ../scss/global.scss */
.banner-lineas {
  margin-bottom: 8px;
}
/* line 209, ../scss/global.scss */
.banner-lineas .views-field-name {
  z-index: 5;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 217, ../scss/global.scss */
.banner-lineas .views-field-name .field-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
/* line 222, ../scss/global.scss */
.banner-lineas .views-field-name .field-content a {
  color: #f8f8f8;
  text-decoration: none;
  display: block;
  padding-top: 32%;
  height: 58%;
}
/* line 228, ../scss/global.scss */
.banner-lineas .views-field-name .field-content a .linea {
  color: #f8f8f8;
  font-family: "segoepr";
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
/* line 235, ../scss/global.scss */
.banner-lineas .views-field-name .field-content a .linea::after {
  background-color: #f8f8f8;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 50%;
  width: 40%;
  margin-top: 8px;
}
/* line 254, ../scss/global.scss */
.banner-lineas .views-field-name .field-content.color_display a {
  color: #f8f8f8;
}
/* line 256, ../scss/global.scss */
.banner-lineas .views-field-name .field-content.color_display a .linea::after {
  background-color: #f8f8f8;
}
/* line 262, ../scss/global.scss */
.banner-lineas .views-field-field-image {
  z-index: 1;
  display: block;
}

/* line 268, ../scss/global.scss */
ul.quicktabs-tabs {
  margin-top: 20px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
}
/* line 272, ../scss/global.scss */
ul.quicktabs-tabs li.active, ul.quicktabs-tabs li:hover, ul.quicktabs-tabs li:focus, ul.quicktabs-tabs li:active {
  border-bottom: 1px solid #000;
}
/* line 274, ../scss/global.scss */
ul.quicktabs-tabs li.active a:active, ul.quicktabs-tabs li.active a:focus, ul.quicktabs-tabs li.active a:hover, ul.quicktabs-tabs li.active a.active, ul.quicktabs-tabs li:hover a:active, ul.quicktabs-tabs li:hover a:focus, ul.quicktabs-tabs li:hover a:hover, ul.quicktabs-tabs li:hover a.active, ul.quicktabs-tabs li:focus a:active, ul.quicktabs-tabs li:focus a:focus, ul.quicktabs-tabs li:focus a:hover, ul.quicktabs-tabs li:focus a.active, ul.quicktabs-tabs li:active a:active, ul.quicktabs-tabs li:active a:focus, ul.quicktabs-tabs li:active a:hover, ul.quicktabs-tabs li:active a.active {
  color: #000;
}
/* line 278, ../scss/global.scss */
ul.quicktabs-tabs li {
  padding: 5px 5px 11px;
}
/* line 280, ../scss/global.scss */
ul.quicktabs-tabs li a {
  color: #a7a7a7;
  font-family: "open_sansregular";
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 291, ../scss/global.scss */
#quicktabs-container-tabs_del_home table {
  border: none;
}
/* line 293, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td {
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;
}
/* line 296, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td .field-name-title-field {
  margin-top: 5px;
}
/* line 298, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td .field-name-title-field a {
  color: #666;
  text-decoration: none;
  font-size: 13px;
  font-family: "open_sansregular";
}
/* line 305, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td .field-name-field-color {
  display: none;
}
/* line 308, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td form {
  position: absolute;
  overflow: hidden;
  margin-top: 5px;
}
/* line 312, ../scss/global.scss */
#quicktabs-container-tabs_del_home table td form .form-submit {
  float: right;
}

/* line 320, ../scss/global.scss */
.block-promociones-home-block {
  margin-top: 47px;
  margin-bottom: 42px;
  height: 100%;
}
/* line 324, ../scss/global.scss */
.block-promociones-home-block .field-content.grid-4.alpha {
  margin-right: 13px;
}
/* line 328, ../scss/global.scss */
.block-promociones-home-block .views-row-1 .promo-textos {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family: "ubunturegular";
  font-size: 15px;
  text-transform: uppercase;
  padding: 23px;
  width: 53%;
  bottom: 80px;
}
/* line 338, ../scss/global.scss */
.block-promociones-home-block .views-row-1 .promo-textos .promotexto1 {
  font-size: 20px;
}
/* line 344, ../scss/global.scss */
.block-promociones-home-block .views-row-2 .promo-textos {
  position: absolute;
  top: 40%;
  width: 103%;
  text-align: center;
  font-family: "ubunturegular";
  font-size: 24px;
  text-transform: uppercase;
}
/* line 352, ../scss/global.scss */
.block-promociones-home-block .views-row-2 .promo-textos .promotexto1 {
  color: #fff;
  font-size: 20px;
}
/* line 356, ../scss/global.scss */
.block-promociones-home-block .views-row-2 .promo-textos .promotexto1:before {
  content: ' ';
  display: block;
  height: 1px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(10%);
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 373, ../scss/global.scss */
.block-promociones-home-block .views-row-3 .promo-textos {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 12px;
  width: 64%;
  bottom: 80px;
  right: -14px;
  text-align: right;
}
/* line 382, ../scss/global.scss */
.block-promociones-home-block .views-row-3 .promo-textos .promotitulo {
  font-family: "segoepr";
  font-size: 22px;
}
/* line 386, ../scss/global.scss */
.block-promociones-home-block .views-row-3 .promo-textos .promotexto1 {
  font-family: "ubunturegular";
  font-size: 15px;
  text-transform: uppercase;
}
/* line 391, ../scss/global.scss */
.block-promociones-home-block .views-row-3 .promo-textos .promotexto2 {
  font-family: "open_sansregular";
  font-size: 12px;
  text-transform: lowercase;
  line-height: 1;
  margin-top: 5px;
}
/* line 398, ../scss/global.scss */
.block-promociones-home-block .views-row-3 .promo-textos .promotexto2:first-letter {
  text-transform: uppercase;
}

/* line 405, ../scss/global.scss */
footer.section-footer {
  background-color: #222;
  margin-top: 40px;
  padding-top: 45px;
  padding-bottom: 76px;
}
/* line 411, ../scss/global.scss */
footer.section-footer .block-menu h2, footer.section-footer .block-simplenews h2 {
  font-family: "ubunturegular";
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 32px;
}
/* line 418, ../scss/global.scss */
footer.section-footer .block-menu ul.menu, footer.section-footer .block-simplenews ul.menu {
  list-style: none;
}
/* line 420, ../scss/global.scss */
footer.section-footer .block-menu ul.menu li, footer.section-footer .block-simplenews ul.menu li {
  list-style: none;
}
/* line 422, ../scss/global.scss */
footer.section-footer .block-menu ul.menu li a, footer.section-footer .block-simplenews ul.menu li a {
  font-family: "open_sansregular";
  font-size: 12px;
  color: #ccc;
  text-decoration: none;
}
/* line 432, ../scss/global.scss */
footer.section-footer .block-simplenews p {
  font-family: "open_sansregular";
  font-size: 12px;
  color: #ccc;
  text-decoration: none;
}
/* line 439, ../scss/global.scss */
footer.section-footer .block-simplenews form label {
  display: none;
}
/* line 442, ../scss/global.scss */
footer.section-footer .block-simplenews form .form-text {
  float: left;
  width: 70%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 449, ../scss/global.scss */
footer.section-footer .block-simplenews form .form-submit {
  float: right;
  color: transparent;
  width: 25%;
  height: 34px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #e74c3c;
  background-image: url("images/submit.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 462, ../scss/global.scss */
footer.section-footer .block-simplenews form .form-submit:before {
  content: ">";
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 30%;
  width: 40%;
  margin-top: 15px;
}
/* line 479, ../scss/global.scss */
footer.section-footer .region-footer-six {
  float: right;
}
/* line 481, ../scss/global.scss */
footer.section-footer .region-footer-six p {
  font-size: 12px;
  font-family: "open_sansregular";
  color: #666;
  text-align: right;
}
/* line 486, ../scss/global.scss */
footer.section-footer .region-footer-six p a {
  color: #999;
  text-decoration: none;
}
/* line 491, ../scss/global.scss */
footer.section-footer .region-footer-six .facebook, footer.section-footer .region-footer-six .twitter {
  margin-top: 9px;
  float: right;
  display: inline-block;
  width: 16px;
  height: 16px;
  color: transparent;
  background-position: center;
  margin-left: 8px;
}
/* line 501, ../scss/global.scss */
footer.section-footer .region-footer-six .facebook {
  background-image: url("images/facebook.png");
}
/* line 504, ../scss/global.scss */
footer.section-footer .region-footer-six .twitter {
  background-image: url("images/twitter.png");
}

/* line 511, ../scss/global.scss */
.all-products .views-row, .all-products-home .views-row {
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  display: inline-flex;
  height: 320px;
  padding: 12px;
}
/* line 517, ../scss/global.scss */
.all-products .views-row .field-name-title-field, .all-products-home .views-row .field-name-title-field {
  position: relative;
  top: -277px;
}
/* line 520, ../scss/global.scss */
.all-products .views-row .field-name-title-field a, .all-products-home .views-row .field-name-title-field a {
  color: #666;
  text-decoration: none;
  font-size: 13px;
  font-family: "open_sansregular";
}
/* line 527, ../scss/global.scss */
.all-products .views-row .field-name-field-color, .all-products-home .views-row .field-name-field-color {
  display: none;
}
/* line 530, ../scss/global.scss */
.all-products .views-row form, .all-products-home .views-row form {
  position: relative;
  top: -287px;
  padding-left: 29px;
  padding-top: 200px;
  width: 206px;
  height: 82px;
  margin-bottom: 0;
}
/* line 538, ../scss/global.scss */
.all-products .views-row form .form-submit, .all-products-home .views-row form .form-submit {
  display: none;
  padding: 20px;
  font-size: 13px;
  width: 177px;
  height: 55px;
  text-align: center;
  background-image: none;
  background-color: #FF5757;
  color: #fff;
  border: none;
  border-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
  font-size: 10px;
  font-family: "open_sansregular";
  text-transform: uppercase;
}

/* line 563, ../scss/global.scss */
.all-products .views-row:nth-child(2), .all-products .views-row:nth-child(5), .all-products .views-row:nth-child(8) {
  margin: 0 43px;
}
/* line 566, ../scss/global.scss */
.all-products .views-row:nth-child(4), .all-products .views-row:nth-child(5), .all-products .views-row:nth-child(6) {
  margin-top: 56px;
  margin-bottom: 56px;
}

/* line 573, ../scss/global.scss */
.all-products-home .views-row:nth-child(2), .all-products-home .views-row:nth-child(6) {
  margin: 0 40px;
}
/* line 576, ../scss/global.scss */
.all-products-home .views-row:nth-child(3), .all-products-home .views-row:nth-child(7) {
  margin-right: 40px;
}
/* line 579, ../scss/global.scss */
.all-products-home .views-row:nth-child(5), .all-products-home .views-row:nth-child(6), .all-products-home .views-row:nth-child(7), .all-products-home .views-row:nth-child(8) {
  margin-top: 56px;
}

/* line 585, ../scss/global.scss */
.text-reduce-search h2, .text-reduce-search2 h2 {
  font-family: "ubunturegular";
  font-size: 15px;
  color: #666;
  padding-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
/* line 594, ../scss/global.scss */
.text-reduce-search h2:after, .text-reduce-search2 h2:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 30%;
  width: 40%;
  margin-top: 15px;
}

/* line 612, ../scss/global.scss */
.text-reduce-search2 h2 {
  margin-bottom: 20px;
}

/* line 618, ../scss/global.scss */
.text-reduce-search div.content {
  display: none;
}

/* line 623, ../scss/global.scss */
.block-facetapi {
  border-bottom: 1px solid #dddddd;
}
/* line 626, ../scss/global.scss */
.block-facetapi ul li {
  list-style: none;
  margin-left: 0;
}
/* line 629, ../scss/global.scss */
.block-facetapi ul li a {
  text-decoration: none;
  color: #666;
  font-family: "open_sansregular";
  font-size: 13px;
}
/* line 637, ../scss/global.scss */
.block-facetapi h2 {
  margin-top: 20px;
  font-family: "open_sansregular";
  font-size: 15px;
  color: #ff5757;
  font-weight: normal;
  padding-bottom: 20px;
}

/* line 647, ../scss/global.scss */
.node-product-type-full {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
}
/* line 650, ../scss/global.scss */
.node-product-type-full .group-header {
  background-color: #f6f6f6;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 8px;
}
/* line 657, ../scss/global.scss */
.node-product-type-full .group-header a {
  font-family: "ubunturegular";
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
}
/* line 665, ../scss/global.scss */
.node-product-type-full .group-header a:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 8%;
  width: 10%;
  margin-top: 8px;
}
/* line 681, ../scss/global.scss */
.node-product-type-full .group-left {
  border-left: 1px solid #e5e5e5;
}
/* line 684, ../scss/global.scss */
.node-product-type-full .group-left, .node-product-type-full .group-right {
  padding: 5px;
  width: calc(50% - 11px);
  height: 692px;
  margin-bottom: 20px;
  display: inline-block;
  margin-bottom: 0;
}
/* line 692, ../scss/global.scss */
.node-product-type-full .group-right {
  color: #999;
  font-family: "open_sansregular";
  font-size: 13px;
  border-right: 1px solid #e5e5e5;
}
/* line 697, ../scss/global.scss */
.node-product-type-full .group-right .field {
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 0 20px;
}
/* line 702, ../scss/global.scss */
.node-product-type-full .group-right .commerce-product-field-field-vote {
  border-bottom: none;
  padding-bottom: 0;
}
/* line 707, ../scss/global.scss */
.node-product-type-full .group-right form label {
  color: #999;
  font-family: "open_sansregular";
  font-size: 13px;
  float: left;
  margin-right: 70px;
}

/* line 718, ../scss/global.scss */
.zone-breadcrumb-wrapper {
  background-color: #e9e9e9;
  padding: 20px 0;
  margin-bottom: 10px;
  color: #fb5757;
  font-size: 13px;
  font-family: "open_sansregular";
}
/* line 725, ../scss/global.scss */
.zone-breadcrumb-wrapper .easy-breadcrumb_segment-separator {
  color: #c5bcbc;
  margin: 0 10px;
}
/* line 729, ../scss/global.scss */
.zone-breadcrumb-wrapper a {
  color: #c5bcbc;
  text-decoration: none;
}

/* line 736, ../scss/global.scss */
.field-name-field-servicios .field {
  border-bottom: none !important;
}
/* line 739, ../scss/global.scss */
.field-name-field-servicios .field-label {
  margin-bottom: 10px;
}
/* line 742, ../scss/global.scss */
.field-name-field-servicios .field-items {
  overflow: hidden;
}
/* line 744, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item {
  float: left;
}
/* line 746, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope {
  padding-bottom: 0;
}
/* line 748, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items {
  width: auto;
  margin-right: 5px;
}
/* line 752, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a {
  width: 30px;
  height: 19px;
  display: block;
  text-align: center;
  background-color: #ff787f;
  color: white;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 10px 5px;
  font-family: "open_sansregular";
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 768, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a:hover, .field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a:focus, .field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a:active, .field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a.active {
  background-color: #9cb6b9;
}
/* line 771, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-field-apocope .field-items .field-item a:hover + div.field-name-title {
  display: inline-block;
}
/* line 777, ../scss/global.scss */
.field-name-field-servicios .field-items .field-item .field-name-title {
  display: none;
  background-color: #ff5757;
  color: white;
  padding: 3px;
  font-family: "open_sansregular";
  font-size: 10px;
  font-weight: normal;
}

/* line 791, ../scss/global.scss */
.commerce-product-field-commerce-price .field-items {
  margin-left: 50px;
  font-size: 24px;
  font-family: "open_sanssemibold";
  color: #ff5757;
}

/* line 800, ../scss/global.scss */
.field-name-field-linea .field-label {
  margin-bottom: 10px;
}
/* line 805, ../scss/global.scss */
.field-name-field-linea .field-items .field-item .field {
  padding-bottom: 0;
  border-bottom: none !important;
}
/* line 808, ../scss/global.scss */
.field-name-field-linea .field-items .field-item .field a {
  color: #ff5757;
  text-decoration: none;
  font-weight: normal;
  font-family: "open_sansregular";
  font-size: 13px;
}

/* line 820, ../scss/global.scss */
.form-type-commerce-fancy-attributes-ajax {
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
}
/* line 823, ../scss/global.scss */
.form-type-commerce-fancy-attributes-ajax .form-item {
  float: left;
}
/* line 826, ../scss/global.scss */
.form-type-commerce-fancy-attributes-ajax .form-item .description .field {
  border-bottom: none;
  padding-bottom: 0;
}

/* line 834, ../scss/global.scss */
.front #first-time {
  display: none;
}

/* line 839, ../scss/global.scss */
.region-content h1 {
  padding-bottom: 15px;
  margin-bottom: 8px;
  font-family: "ubunturegular";
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  border-bottom: 1px solid #dddddd;
}
/* line 850, ../scss/global.scss */
.region-content h1:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 8%;
  width: 10%;
  margin-top: 15px;
}
/* line 865, ../scss/global.scss */
.region-content .node-page {
  font-family: "open_sansregular";
  font-size: 14px;
  color: #999999;
  text-align: justify;
  margin-bottom: 47px;
}

/* line 874, ../scss/global.scss */
.block-bloque-lineas-block {
  padding: 21px 0;
}
/* line 877, ../scss/global.scss */
.block-bloque-lineas-block ul li {
  margin: 0;
}
/* line 879, ../scss/global.scss */
.block-bloque-lineas-block ul li a {
  text-decoration: none;
  color: #666;
  font-family: "open_sansregular";
  font-size: 13px;
}

/* line 889, ../scss/global.scss */
.text-block-sidebar-first {
  text-decoration: none;
  color: #666;
  font-family: "open_sansregular";
  font-size: 13px;
  margin: 20px 0;
}
/* line 895, ../scss/global.scss */
.text-block-sidebar-first a {
  color: #fb5757;
  text-decoration: none;
}

/* line 901, ../scss/global.scss */
.node-webform {
  min-height: 340px;
}
/* line 903, ../scss/global.scss */
.node-webform footer {
  display: none;
}
/* line 907, ../scss/global.scss */
.node-webform form .webform-component-email, .node-webform form .webform-component-textfield {
  float: left;
  width: calc(50% - 2px);
}
/* line 910, ../scss/global.scss */
.node-webform form .webform-component-email .form-text, .node-webform form .webform-component-textfield .form-text {
  width: 100%;
}
/* line 914, ../scss/global.scss */
.node-webform form .webform-component-email {
  margin-left: 4px;
}
/* line 917, ../scss/global.scss */
.node-webform form .form-actions {
  clear: both;
  text-align: right;
}
/* line 920, ../scss/global.scss */
.node-webform form .form-actions input[type="submit"] {
  font-size: 14px;
  padding: 10px 20px;
}
/* line 925, ../scss/global.scss */
.node-webform form .webform-component-textarea {
  margin-top: 0;
}
/* line 927, ../scss/global.scss */
.node-webform form .webform-component-textarea .form-textarea-wrapper textarea {
  height: 200px;
}

/* line 937, ../scss/global.scss */
#properties-compare-table thead tr th {
  text-align: center;
  padding: 20px;
}
/* line 945, ../scss/global.scss */
#properties-compare-table tbody tr td {
  background-color: #f6f6f6;
  font-family: "open_sansregular";
  font-size: 13px;
  color: #666;
  border: 1px solid #DDDDDD;
  border-collapse: collapse;
  text-align: center;
  padding: 20px;
}
/* line 955, ../scss/global.scss */
#properties-compare-table tbody tr td form .form-submit {
  font-size: 13px;
  padding: 18px 22px;
}
/* line 961, ../scss/global.scss */
#properties-compare-table tbody tr td:nth-child(1) {
  background-color: #E9E9E9;
}

/* line 969, ../scss/global.scss */
.menu-no-title {
  margin-top: 45px;
}

/* line 973, ../scss/global.scss */
.cloud-zoom-gallery-thumbs {
  margin-top: 6px;
}

/* line 978, ../scss/global.scss */
.cloud-zoom-gallery-thumbs a:nth-child(2), .cloud-zoom-gallery-thumbs a:nth-child(3) {
  margin: 6px 3px;
}

/* line 983, ../scss/global.scss */
.grid-9.region-pre-postscript {
  float: right;
}
/* line 985, ../scss/global.scss */
.grid-9.region-pre-postscript .block-sharethis {
  position: absolute;
  margin-top: -50px;
  left: 10px;
}
