/* Static View-only Star Version */
.fivestar-formfit div.fivestar-widget-static .star {
  background-image: url(formfit.png);
}

.fivestar-formfit div.fivestar-widget-static .star span.on {
  background-image: url(formfit.png);
}

.fivestar-formfit div.fivestar-widget-static .star span.off {
  background-image: url(formfit.png);
}

/* Javascript Star Version */
.fivestar-formfit div.fivestar-widget .cancel,
.fivestar-formfit div.fivestar-widget .cancel a {
  background-image: url(formfit-cancel.png);
}
.fivestar-formfit div.fivestar-widget .star,
.fivestar-formfit div.fivestar-widget .star a {
  background-image: url(formfit.png);
}

.fivestar-formfit div.fivestar-widget div.hover a,
.fivestar-formfit div.rating div a:hover {
  background-image: url(formfit.png);
}
